.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 11px;
}
.filters button:hover {
    opacity: 90%;
}
.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    float: left;
    padding-top: 15px;
}
.filters .locations {
    border-right: 1px solid #DDDDDD;
}
.filters .locations h3,
.filters .amenities h3 {
    font-weight: 600;
    margin-block-end: 0;
    margin-left: 35px;
}
.filters .locations h4,
.filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-block-start: 0;
    margin-left: 35px;
}
.popover {
    position: relative;
    height:300px;
    display: none;
    top: 18px;
    padding: 20px 0;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    overflow-y: scroll;
}
.popover ul {
    list-style-type: none;
    margin-bottom: 5px;
}
.popover h2 {
    font-size: 16px;
    margin-left:20px;
}
.amenities .popover li,
.locations ul li ul li {
    margin-left: 35px;
    line-height: 1.5;
}
.amenities:hover .popover,
.locations:hover .popover {
 display: block;
}
