.places {
    margin-top: 10px;
    text-align: center;
}
.places h1 {
    font-size: 30px;
    text-align: left;
    line-height: 2;
}
.places article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    
}
.places article h2{
    font-size: 30px;
    text-align: left;
}
.title-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: fit-content;
    height: 60px;
    padding:0 5px;
    padding-top: 10px;
    font-size: 30px;
}
.information
{

    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    display: flex;
    padding-top: 7px;
    justify-content: center;
    gap: 20px
}
.max_guest, .number_rooms, .number_bathrooms {
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 45px;
    text-align: center;
}

.max_guest {
    background-image: url("../images/icon_group.png"); 
}
.number_rooms {
    background-image: url("../images/icon_bed.png"); 
}
.number_bathrooms {
    background-image: url("../images/icon_bath.png"); 
}
.user, .description {
    text-align: left;
    margin: 8px 0;
}

